.showgrid {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 40px;
    line-height: 22px;
}

.showgrid:last-of-type {
    border-right: 1px solid #ddd;
}

.emptyCell {
    background-color: blue;
}

.headerRow {
    font-weight: 600;
}

.headerRow .showgrid {
    line-height: 40px;
}

.actions {
    margin-top: 10px;
    float: right;
}