.OptionGroup {
    margin: 0 -10px;
    padding-top: 10px;
}

.Option {
    padding: 5px 10px;
}

.OptionButton {
    transition: background-color 0.1s ease-in-out;
    background-color: white;
}

.OptionButton.badGuess {
    text-decoration: line-through;
    color: red;
}

.page.failed .OptionButton.badGuess {
    background-color: red;
}

.page.gotIt .OptionButton.correct {
    background-color: green;
    color: white;
}

.page.gaveUp .OptionButton.correct {
    background-color: #4285f4;
    color: white;
}

.Actions {
    float: right;
    margin-right: -13px;
}

@media (max-width: 600px) {
    .Actions {
        float: inherit;
        display: block;
        padding: 10px 0 0 0;
        margin-left: -12px;
    }
}

.page:not(.gotIt):not(.gaveUp) .playingCurrent {
    border: 1px solid #4285f4 !important;
    border-radius: 4px;
    color: #4285f4 !important;
}

.explanation {
    color: #aaa;
    padding-left: 10px;
}

.rootHint {
    font-weight: 600;
    color: red;
}

.nextNoteHint {
    font-weight: 600;
    color: gray;
}